body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
    background-image: url('https://www.transparenttextures.com/patterns/golden-fabric.png');
}

header {
    background: linear-gradient(90deg, gold, black);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #222;
    align-content: center;
}

th, td {
    border: 1px solid gold;
    padding: 15px;
}

th {
    background: gold;
    color: black;
}

a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}